<% include ./partials/header.ejs %>

<% if (userSess) { %>
  <h2>Records</h2>
  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

  <h2>Recent Reviews</h2>
  <%reviews.forEach(function(review) {%>
    <p><a href="/albums/<%= review.album_id %>"><%=review.albumTitle%></a></p>
    <p><%=review.title%></p>
    <p><%=review.body%></p>
    <p><%=review.created_at%></p>
  <%})%>
<% } %>
