<% include ./partials/header.ejs %>
<% if(userSess) {%>
  <div class="row">
    <div class="col-md-offset-2 col-md-3">
      <img src="<%= user.image%>" style="width:200px; height:200px; margin-top:22px;">
    </div>
    <div class="col-md-6">
      <div class="row">
        <h1><%=user.name %></h1>
        <p><i>Email:</i> <%=user.email %></p>
        <p><i>Date Joined:</i> <%=user.created_at.toString().slice(0, 15) %></p>
      </div>
      <div class="row">
        <h1>Reviews</h1>
        <% user_reviews.forEach(function(reviews) {%>
          <div class="row each-review">
            <div class="row">
              <div class="col-md-6">
                <h4><a href="/albums/<%=reviews.album_id %>"><%= reviews.title %></a></h4>
              </div>
              <div class="col-md-6">
                <p><i><%=reviews.created_at.toString().slice(0, 15)%></i></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <p><%=reviews.body%></p>
              </div>
              <% if(userSess.id === reviews.user_id) {%>
                <div class="col-md-4">
                  <button class="btn btn-danger glyphicon glyphicon-trash delete buttons" value="<%= JSON.stringify(reviews) %>" aria-hidden="true"></button>
                  <a href='/reviews/update/<%=reviews.id%>'><span class=" btn btn-primary buttons glyphicon glyphicon-edit"></span></a>
                </div>
              <%}%>
            </div>
          </div>
        <%})%>
      </div>
    </div>
  </div>
<%}%>
